// importo Bootstrap
@import '~bootstrap/scss/bootstrap';

// importo variabili
@import './variables.scss';

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(255, 255, 255);
}

.logo{
    width: 80px;
}

.if {
    font-size: 10px;
}

.line {
    width: 70px;
    height: 1px;
    background: rgb(255, 255, 255);
    
}
